:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --dark-magenta: hsl(303, 10%, 53%);
    --light-magenta: hsl(300, 24%, 96%);
    --soft-pink: hsl(333, 80%, 67%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Spartan', sans-serif;
    background-image: url(images/bg-pattern-top-desktop.svg), 
                      url(images/bg-pattern-bottom-desktop.svg);
    background-position: top left, bottom right;
    background-repeat: no-repeat, no-repeat;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

section {
    width: 970px;
    height: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

p {
    line-height: 20px;
}

/* title section style */
.title {
    width: 400px;
}

.title h1 {
    color: var(--very-dark-magenta);
    font-size: 37px;
}

.title p {
    color: var(--dark-magenta);
    font-size: 13px;
    font-weight: 500;
    padding: 15px 0;
}

/* rate section style */
.rate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 470px;
}

.rate > * {
    width: 380px;
    background-color: var(--light-magenta);
    margin-top: 15px;
    padding-left: 10px;
    border-radius: 10px;
}

.r1 {
    align-self: flex-start;
    margin-top: 0%;
}

.r2 {
    align-self: center;
}

.r3 {
    align-self: flex-end;
}

.r1 > *, .r2 > *, .r3 > * {
    display: inline-block;
    padding: 15px;
}

.r1 > p, .r2 > p, .r3 > p {
    color: var(--very-dark-magenta);
    font-size: 13px;
    font-weight: 800;
}

/* cards section style  */
.card {
    background-color: var(--very-dark-magenta);
    border-radius: 10px;
    padding: 20px;
    color: var(--light-magenta);
    width: 310px;
    height: 210px;
    font-size: 13px;
    font-weight: 500;
    position: relative;
}

.c1 {
    align-self: flex-start;
}

.c3 {
    align-self: flex-end;
}

.card img {
    width: 50px;
    border-radius: 50%;
}

.card span {
    position: absolute;
    left: 90px;
}

.name {
    color: white;
    top: 28px;
}

.description {
    color: var(--soft-pink);
    top: 45px;
}

.card p {
    padding-top: 15px;
}

/* footer */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* make it responsive */

@media only screen and (max-width: 375px) {
    html, body {
        background-image: url(images/bg-pattern-top-mobile.svg), 
                          url(images/bg-pattern-bottom-mobile.svg);
    }

    section {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .title {
        text-align: center;
    }

    .title h1 {
        font-size: 30px;
    }


    .rate > * {
        width: 310px;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .stars {
        padding: 15px 0 0 0;
    }

    .card {
        align-self: center;
        margin-top: 20px;
    }
}
