:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --dark-magenta: hsl(303, 10%, 53%);
    --light-magenta: hsl(300, 24%, 96%);
    --soft-pink: hsl(333, 80%, 67%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Spartan', sans-serif;
    font-size: 18px;
    background-image: url(images/bg-pattern-top-desktop.svg), 
                      url(images/bg-pattern-bottom-desktop.svg);
    background-position: top left, bottom right;
    background-repeat: no-repeat, no-repeat;
    height: 100%;
}

.test {
    text-align: center;
    border: rebeccapurple solid 1px;
}

/* footer */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}